.artist-card {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 15px;

}

.artist-card img {
    width: 100%;
    height: 80%;
}

.artist-card h2 {
    text-align: center;

}